<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>Meus contatos</h2>

      <a routerLink="/contato/save" class="btn btn-success">Novo</a>

      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contato of contatos" [routerLink]="['/contato/save', contato.id]">
          <td>{{contato.nome}}</td>
          <td>{{contato.email}}</td>
          <td>{{contato.telefone}}</td>
          <td>
            <button class="btn btn-danger">
              Deletar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
